/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
}

.custom-navbar {
  background-color: #1f1f1f;
  border-bottom: 2px solid #4e4e4e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.custom-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00ffcc;
  letter-spacing: 1px;
}
